
.mainScreen{
        height:83vh;
        width: 100%;
        // top:0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:-10;
    
}

