@import '../../common.scss';

.leftMenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $liteColor;
    width:63px;
    z-index:-1;

    .menuList{
        padding-left: unset;
        top: 50px;
        position: relative;
    }
}